doctype html
html
  head
    title Tasks
    script(src="https://unpkg.com/htmx.org@2.0.3", crossorigin="anonymous")
  body
    h1 Tasks
    ul#tasks
      each todo in todos
        li
          | #{todo.title} - #{todo.status}
          button(hx-delete=`/todos/${todo.id}` hx-target="closest li" hx-swap="outerHTML") Delete
      else
        li No tasks found

    form(hx-post="/todos" hx-target="#tasks" hx-swap="beforeend")
      input(name="title" placeholder="Task title")
      input(name="status" placeholder="Task status")
      button Save
